.user-info-wrap {
  position: relative;
  max-width: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 15px 15px;
  border-radius: 5px;
  background-color: #f2f2f2;
  overflow: hidden;
  transition: all ease 0.3s;

  @media screen and (min-width: 768px) {
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    flex-grow: unset;
  }

  .user-info {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: inherit;
    padding: 16px;
    font-family: "Helvetica", serif;
    border-bottom: 1px solid #d4d4d4;
    transition: all ease 0.3s;

    @media screen and (min-width: 768px) {
      width: 50%;
      &:nth-child(odd) {
        border-right: 1px solid #d4d4d4;
      }
    }

    &:hover {
      background-color: white;
      cursor: pointer;
      box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }

    &-img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-right: 24px;
    }

    &-name {
      margin: 0;
    }
  }
}
